.backlink{
   color:#000000;
    text-decoration: none;
}

.logo{
    width: 20rem;
}

.titlebox{
    display: block;
    width: 30rem;
    height: 5rem;
    margin: 0 auto;
    text-align: center;
}

.logobox{
    display: block;
    width: 20rem;
    height: 5rem;
    margin: 50px;
}

.menu{
    border: 0px solid red;
    display: flex;
    width: 72rem;
    height: 15rem;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-item{
    border: 0px solid blue;
    flex-basis: 0;
    flex-grow: 1;
}
.menu-item:hover{
   transition: 0.5s ease;
    background-color: rgba(128, 128, 128, 0.34);
}

.image{
    display: block;
    width: 20%;
    height: 20%;
}